body {
  margin: 0px;
  font-family: "Teko", sans-serif;
  
}

/* ------------nav----------------- */
nav {
  grid-area: nav;
  background-color: white;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 35px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #0d6893;
  transition: 0.4s;
}

.nav-item:hover a {
  color: #ffc107;
}

.logo img {
  width: 100px;
  vertical-align: middle;
}

/* ---------------end nav--------------------- */

/*  */
.about_wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 50%);
  grid-template-rows: 110px auto;
  grid-template-areas:
    "nav nav nav"
    "about about about"
    "info info founder"
    "scene scene scene"
    "about-footer about-footer about-footer";
    background: #f4f4f4;
}

.content_heading {
  grid-area: about;
  justify-content: center;
  align-content: center;
}

.about_title {
  color: #343b49;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 0%;
}
hr {
  height: 0px;
  width: 550px;
  font-size: 15px;
  color: #25aaf7;
  line-height: 25px;
  border-top: 3px solid #25aaf7;
}
.lead {
  text-align: center;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.5em;
}

.info-wrapper {
  grid-area: info;
}

.one {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 25px;
  margin: 10px 10px 0px 30px;
  max-width: 90%;

}

.founder {
  grid-area: founder;
  width: 90%;
  margin: 0;
}

.scene {
    background-image: url("../assets/scene.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    background-size: cover;
    width: 100%;
    min-height: 200px;

}
.scene-wrapper {
    grid-area: scene;
    max-height: 200px;
    margin: 20px 0px 20px 0px;

}

footer {
  padding: 20px;
  grid-area: about-footer;
  background-color: rgb(248, 237, 82);
}
