html {
    font-size: 100%;
}

body {
  margin: 0px;
  font-family: "Teko", sans-serif;
  display: flex;
}

/* ------------nav----------------- */
nav {
  grid-area: nav;
  background-color: white;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 35px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #0d6893;
  transition: 0.4s;
}

.nav-item:hover a {
  color: #ffc107;
}

.logo img {
  width: 100px;
  vertical-align: middle;
}

/* ---------------end nav--------------------- */

/*  */
.about_wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 50%);
  grid-template-rows: 110px auto;
  grid-template-areas:
    "nav nav nav"
    "about about about"
    "info info founder"
    "scene scene scene"
    "guide local-kno local-kno"
    "about-footer about-footer about-footer";
  background: #f4f4f4;
}

.content_heading {
  grid-area: about;
  justify-content: center;
  align-content: center;
}

.about_title {
  color: #343b49;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 0%;
}
hr {
  width: 550px;
  line-height: 25px;
  border-top: 3px solid #25aaf7;
}
.lead {
  text-align: center;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.5em;
}

.info-wrapper {
  grid-area: info;
}

.one {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 25px;
  margin: 10px 10px 0px 30px;
  max-width: 90%;
}

.founder {
  grid-area: founder;
  width: 90%;
  margin: 0;
}

.scene {
  background-image: url("../assets/scene.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  background-size: cover;
  width: 100%;
  min-height: 200px;
}
.scene-wrapper {
  grid-area: scene;
  max-height: 200px;
  margin: 20px 0px 20px 0px;
}

.local {
  grid-area: local-kno;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.guide {
  grid-area: guide;
  width: 90%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.local-heading {
  text-align: center;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  color: #343b49;
  margin: 0%;
}

.two {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 25px;
  margin-left: 20px;
  max-width: 90%;
}
.line {
  height: 0px;
  width: 295px;
  font-size: 15px;
  border-top: 1px solid #424d66;
}

/* -------footer------ */

.about_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto 1fr;
  grid-template-rows: 50px 1fr;
  grid-area: about-footer;
  background-color: #456087;
  color: white;
}
.company-name {
  font-size: 45px;
  margin-left: 20px;
  margin-bottom: -15px;
}
.co-name1 {
  color: orange;
}

.footer-p {
  margin-top: 0;
  font-family: "Product Sans";
  line-height: 25px;
  margin-left: 25px;
  grid-column-start: 1;
  grid-row-start: 2;
}
.contact {
  font-family: "Product Sans";
  line-height: 25px;
  letter-spacing: 1px;
  grid-column-start: 4;
  grid-row-start: 1;
}
.tele {
    color: white;
    text-decoration: none;
}

.copy {
  grid-column-start: 1;
  grid-row-start: 3;
  margin-bottom: 0%;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 25px;
  margin-left: 25px;
}
